# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mrchr\Dropbox\BYU\8. Winter 2021\CS 312 - Martinez, Tony R\Fermat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
